@import "tailwindcss";

@theme {
  --color-cream: #fef9ed;
  --color-nav-text: #5d524b;
  --color-body-text: #ddd6d6;
  --color-body-text-light: #fff2f2;

  --font-libre: 'Libre Baskerville', serif;
  --font-sora: 'Sora', sans-serif;
  --font-space: 'Space Grotesk', sans-serif;
  --font-redhat: 'Red Hat Display', sans-serif;
  --font-karla: 'Karla', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

@keyframes roll-eyes {

  0%,
  10%,
  100% {
    transform: translate(0, 0);
  }

  20%,
  30% {
    transform: translate(0, -3px);
  }

  40%,
  50% {
    transform: translate(1.5px, -3px);
  }

  60%,
  80% {
    transform: translate(-1.5px, -3px);
  }

  90% {
    transform: translate(0, -3px);
  }
}